<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077866533312-qeesdnr3imqc929cg3nt3gkd1fl3jrqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077866533312-qeesdnr3imqc929cg3nt3gkd1fl3jrqn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1077866533312-24gi9ru3h3198tpe4kld48dte3gn0n54.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1nFOXBXlj7otMHIyJILROk0BDAeiFYH4</string>
	<key>GCM_SENDER_ID</key>
	<string>1077866533312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksa.handyman</string>
	<key>PROJECT_ID</key>
	<string>handyman-3308d</string>
	<key>STORAGE_BUCKET</key>
	<string>handyman-3308d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077866533312:ios:8f32fd3984b79d0ab77825</string>
</dict>
</plist>